
/* Your CSS Code here. */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.holder {
  display: grid;
  grid-template-rows: 100px 100px; /* Two equal rows */
  grid-template-columns: 100px 100px; /* Two equal columns */
/*   width: 200px; /* Total size of the grid */ */
/*   gap: 5px; /* Adjust gap as needed */ */
}

.item {
/* 	width: 100px; */
  border: 1px solid #333;
/*   padding: 20px; */
  text-align: center;
}
